.generator_page h2 {
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

.generatorAll {
  margin: 2rem auto 0;
  font-size: 1rem;
  font-weight: 700;
}

.generatorContainer {
  padding: 36px 30px;
  background: var(--color-white);
  border-radius: 40px;
  border: 1px solid #EEE;
  position: relative;
  z-index: 0;
}

.generatorParts {
  display: grid;
  gap: 16px;
}

@media (max-width: 668px) {
  .generatorContainer {
    padding: 26px 10px;
    border-radius: 0px;
  }
}