.congratulationContainer {
  margin-top: 30px;
  padding: 20px 15px;
  background: #DDD;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
}

.congratulationContainer p {
  margin-bottom: 25px;
  min-height: 150px;
  line-height: 1.2;
}

.congratulationContainer::after {
  content: "Скопировать";
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  opacity: .7;
  transition: all .3s ease;
}

.congratulationContainer.active::after {
  content: "Скопировано";
}

.congratulationContainer:hover::after {
  opacity: 1;
}

.congratulationContainer:before {
  content:'';
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:100%;
  height:100%;
  border-radius:25px;
  opacity:0;
  background:rgba(111,148,182,0.1);
}

.congratulationContainer.active:before {
  animation:anim-effect-a .3s forwards;
}

@keyframes anim-effect-a {
  0% {
    transform: translate(-50%, -50%) scale(0.3);
  }
  25%,50% {
    opacity:1;
  }
  100% {
    opacity:0;
    transform: translate(-50%, -50%) scale(1.2);
  }
}