.congratulationContainer {
  margin-top: 30px;
  padding: 20px 15px;
  background: #F0F3F9;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: all .1s ease;
}

.congratulationContainer p {
  margin-bottom: 25px;
  min-height: 150px;
  line-height: 1.2;
}

.congratulationContainer::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url('../../../public/images/copy.svg') no-repeat center/contain transparent;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 10px);
  opacity: .5;
  transition: all .3s ease;
}

.congratulationContainer.active::after {
  content: "";
  background-image: url('../../../public/images/check.svg');
  opacity: 1;
  transform: scale(1.7);
}

.congratulationContainer:hover::after {
  opacity: 1;
}