header {
  position: relative;
}

.backLink {
  position: absolute;
  left: 0;
  top: 50%;
  width: 50px;
  transform: translateY(-50%);
}

.backLink img {
  display: block;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 668px) {
  .backLink {
    left: 10px;
    width: 35px;
  }
}