:root {
  --color-white: #FFFFFF;
  --color-black: #000616;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  display: block;
  padding: 1rem 2rem;
  background: var(--color-black);
  color: var(--color-white);
  width: fit-content;
  border-radius: 3rem;
  border: 0;
  cursor: pointer;
}

.App {
  min-height: 100vh;
  padding: 40px 0;
}

.limiter {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 40px;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 0 60px;
  margin-bottom: 1.5rem;
}

@media (max-width: 1024px) {
  .App {
    padding: 20px 0;
  }

  .limiter {
    padding: 0 20px;
  }
}

@media (max-width: 668px) {
  :root {
    font-size: 14px;
  }

  .limiter {
    padding: 0;
  }
}